.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.radio {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.padding {
  padding: 1rem;
}

.text {
  display: flex;
  justify-content: flex-start;
  letter-spacing: 1.5px;
}

.modalHeading {
  margin-top: "30%";
  font-size: "24px";
  color: "#3E64FF";
}
.modalHeading2 {
  margin-top: "5%";
  font-size: "20px";
}
.modalbtn {
  background-color: "#3E64FF";
  border-radius: "8px";
  color: "white";
  padding: "10px 50px";
  border-color: "white";
  font-size: "18px";
  margin-top: "8%";
}

.radiobtn {
  width: 14px;
  height: 14px;
  background: transparent;
  color: white;
}

.row {
  display: flex;
  justify-content: space-between;
}

.save {
  display: block;
  margin: 0 auto;
  height: 3rem;
  border: transparent;
  background: white;
  border-radius: 8px;
  color: #3e64ff;
  padding: 0.75rem 1.5rem;
  align-content: center;
  font-family: Montserrat;
  margin-top: 4rem;
  font-weight: 500;
}

@media screen and (min-width: 786px) {
  .location {
    display: flex;
    justify-content: flex-end;
  }

  .modal {
    border-radius: 8px;
  }

  .text {
    display: flex;
    justify-content: flex-start;
    letter-spacing: 1.5px;
  }
  
  .radio {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
}

@media (max-width: 340px) {
  .location {
    margin-top: 20px;
  }

  .radio {
    margin-top: 0;
  }

  .save {
    margin-top: 20px;
  }
}

@media screen and (max-width: 786px) {
  .location {
    display: flex;
    justify-content: center;
    margin-top: 20%;
  }

  .text {
    display: flex;
    justify-content: center;
    letter-spacing: 1.5px;
  }

  .radio {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
}
