.tt {
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  margin-top: 1.5em;
}

.name{
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0.25px;
  text-align: left;
  margin-top: 15%;
}

.maild
{ 
  display: flex;
  justify-content: center;
  font-family: Montserrat; 
  line-height: 44px;
  letter-spacing: 0.25px;
  font-weight: lighter;
  margin-top:5%;
}


.bg2{
  background-image:url("D:\WEB DEV\Vaccine-Notifier\src\background\bg.svg");
  background-size: contain;
  color: white;
  width:100%; 
}

.white{
   color: white;
}

.bug {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 786px) {
  .form {
    margin-top: 5%;
  }
  .name{
	margin-top: 25%;
  }
  .margintop{
	  margin-top: 10%;
  }
}

@media screen and (max-width: 786px) {
  .form {
    margin-top: 20%;
  }
  .name {
    margin-top: 35%;
  }
  .margintop{
	  margin-top: 20%;
  }
}
